.d-flex {
    display: flex;
}
.image {
    margin: 0 10px;
}
.item {
    background: #ffc107;
    width: 20%;
    margin: 11px 0;
    justify-content: space-around;
    padding: 10px 0;
}
.btn {
    background: green;
    color: #fff;
    padding: 7px 11px;
    border: 0;
    cursor: pointer;
    margin: 0 5px;
}
