body {
    background: lightblue;
}
.container {
    width: 600px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.image {
    margin: 0 10px;
}
.item {
    background: #ffc107;
    width: 20%;
    margin: 11px 0;
    justify-content: space-around;
    padding: 10px 0;
}
.btn {
    background: green;
    color: #fff;
    padding: 7px 11px;
    border: 0;
    cursor: pointer;
    margin: 0 5px;
}
.input {
    width: 100%;
    margin: 10px 0;
    padding: 11px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #fff;
    padding: 1px 11px;
    margin-bottom: 10px;
}
.text-center {
    text-align: center;
}
.modal {
    background: #ff9800;
    width: 600px;
    margin: 0 auto;
    padding: 13px 0;
}
